/* colors */
/* resolutions */
.section {
  /*min-height: 100vh;*/
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.header__btn, .burgers__btn, .comments__btn, .form__submit, .modal__btn {
  display: inline-block;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0.1875rem 1rem;
  line-height: 1.875rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .header__btn:hover, .burgers__btn:hover, .comments__btn:hover, .form__submit:hover, .modal__btn:hover {
    background-color: #c13c18; }

/* fonts */
@font-face {
  font-family: lifehack;
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: gagalin;
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*base settings*/
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

html {
  font-size: 16px; }
  @media screen and (max-width: 400px) {
    html {
      font-size: 14px; } }

body {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
  font-size: 0.875rem;
  color: #fff;
  background-color: #2f3234;
  position: relative; }

body.open {
  height: 100vh;
  overflow: hidden; }

.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative; }

.content {
  height: 100%;
  min-height: 550px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  will-change: transform; }
  @media screen and (max-width: 768px) {
    .content {
      min-height: auto; } }

.container {
  max-width: 58.75rem;
  min-width: 18.75rem;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/*
header
*/
.header {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 200; }
  .header__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.header__logo {
  width: 5.75rem;
  height: 4.8125rem;
  margin-top: 0.75rem;
  margin-right: auto; }
  @media screen and (max-width: 768px) {
    .header__logo {
      z-index: 400; } }

.header__nav {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .header__nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #2f3234;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 300;
      margin-right: 0;
      display: none; } }

.header__list {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      height: 30rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; } }

.header__link {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }
  .header__link:hover {
    color: #f9b43b; }
  @media screen and (max-width: 768px) {
    .header__link {
      font-size: 1.5rem; } }

.header__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .header__item:before {
    content: "";
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: #fff;
    margin: 0 0.75rem; }
    @media screen and (max-width: 768px) {
      .header__item:before {
        margin: 1.25rem 0; } }
  .header__item:first-child:before {
    display: none; }

.header__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #e45028; }

/* hamburger-menu */
.hamburger-menu {
  margin-left: 1.875rem;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  background: url("../img/icon/hamburger-menu.svg") 50% 50% no-repeat;
  opacity: 1; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-right: 0.625rem;
      z-index: 400; } }

.hamburger-menu.open {
  background: url("../img/icon/close.svg") 50% 50% no-repeat;
  opacity: 0.7;
  width: 0.9375rem;
  height: 0.9375rem; }

.section__title {
  display: inline-block;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 0; }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.125rem; } }
  .section__title--main {
    line-height: 5.3125rem;
    margin-bottom: 1.125rem;
    color: #f9b43b; }
    @media screen and (max-width: 768px) {
      .section__title--main {
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .section__title--main {
        font-size: 3.9375rem;
        margin-bottom: 0.3125rem; } }
    @media screen and (max-width: 400px) {
      .section__title--main {
        font-size: 3.4375rem;
        margin-bottom: 0.3125rem; } }
  .section__title--strengths {
    text-align: center;
    color: #2f3234;
    margin-top: 3.4375rem;
    margin-bottom: 4.0625rem; }
    @media screen and (max-width: 768px) {
      .section__title--strengths {
        margin-top: 6.25rem;
        margin-bottom: 9.0625rem; } }
    @media screen and (max-width: 480px) {
      .section__title--strengths {
        margin-top: 3.4375rem;
        margin-bottom: 3.4375rem; } }
    @media screen and (max-width: 400px) {
      .section__title--strengths {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem; } }
  .section__title--burgers {
    line-height: 4rem;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) {
      .section__title--burgers {
        width: 60%;
        margin-bottom: 0.625rem; } }
    @media screen and (max-width: 480px) {
      .section__title--burgers {
        width: 60%;
        line-height: 3.75rem;
        margin-bottom: 0.625rem; } }
    @media screen and (max-width: 400px) {
      .section__title--burgers {
        width: 100%; } }
  .section__title--team {
    color: #f9b43b;
    margin-top: 4.0625rem; }
    @media screen and (max-width: 768px) {
      .section__title--team {
        margin-top: 5.625rem;
        margin-bottom: 2.8125rem; } }
    @media screen and (max-width: 480px) {
      .section__title--team {
        margin-top: 3.4375rem;
        margin-bottom: 0.625rem; } }
    @media screen and (max-width: 400px) {
      .section__title--team {
        margin-top: 2.5rem;
        margin-bottom: 0; } }
  .section__title--menu {
    margin-top: 5rem; }
    @media screen and (max-width: 480px) {
      .section__title--menu {
        margin-top: 2.8125rem;
        margin-left: 3.125rem; } }
    @media screen and (max-width: 400px) {
      .section__title--menu {
        margin-top: 1.875rem;
        margin-left: 0.625rem; } }
  .section__title--delivery {
    margin-top: 4.0625rem;
    margin-bottom: 3.75rem;
    color: #f9b43b; }
    @media screen and (max-width: 480px) {
      .section__title--delivery {
        margin-top: 3.4375rem;
        margin-bottom: 1.0625rem;
        line-height: 3.75rem; } }
    @media screen and (max-width: 400px) {
      .section__title--delivery {
        margin-top: 1.5625rem;
        margin-bottom: 0.625rem; } }

/*
sidebar
*/
.bullets {
  position: fixed;
  top: 5.625rem;
  right: 3%;
  z-index: 200; }
  .bullets__item {
    display: block;
    border: 0.0625rem solid transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    position: relative;
    margin-bottom: 0.3125rem; }
    .bullets__item.active {
      border-color: #fff; }
  .bullets__link {
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    .bullets__link:hover {
      background-color: #f9b43b; }

/*
first section content
*/
.main {
  background: url("../img/background/main.jpg") 50% 50% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .main__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 5rem; } }
  @media screen and (max-width: 400px) {
    .main__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 0; } }

.main__picture {
  margin-left: 0;
  margin-right: 0.4375rem;
  position: relative;
  width: 50%;
  min-height: 26.25rem; }
  @media screen and (max-width: 768px) {
    .main__picture {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .main__picture {
      min-height: 21.4375rem;
      margin-top: 1.875rem; } }
  @media screen and (max-width: 400px) {
    .main__picture {
      min-height: 17.5rem;
      margin-top: 0rem; } }

.main__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

.main__text {
  margin: 0;
  margin-top: 4.375rem;
  margin-left: 0.4375rem;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media screen and (max-width: 768px) {
    .main__text {
      width: 80%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 1.875rem; } }
  @media screen and (max-width: 480px) {
    .main__text {
      width: 100%; } }
  @media screen and (max-width: 400px) {
    .main__text {
      margin-top: 0.625rem; } }

.main__subtitle {
  display: inline-block;
  font-family: lifehack, cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 4.0625rem;
  color: #fff;
  line-height: 3.75rem; }
  @media screen and (max-width: 768px) {
    .main__subtitle {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .main__subtitle {
      font-size: 3.375rem; } }

.main__arrow {
  position: absolute;
  bottom: 10%;
  background-color: transparent;
  /*margin-bottom: rem(55px);*/
  border: none;
  cursor: pointer;
  /*margin-top: rem(50px);*/ }
  @media screen and (max-width: 400px) {
    .main__arrow {
      bottom: 5%; } }

.main__arrow-icon {
  width: 1.8125rem;
  height: 0.875rem;
  fill: #fff;
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s; }
  .main__arrow-icon:hover {
    fill: #f9b43b; }

/* Burgers */
.burgers {
  background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-image: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.burgers__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .burgers__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.burgers__picture {
  width: 50%;
  position: relative;
  min-height: 20.5625rem;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .burgers__picture {
      width: 100%;
      margin-bottom: 1.875rem; } }
  @media screen and (max-width: 480px) {
    .burgers__picture {
      width: 90%;
      margin-top: 4.375rem;
      min-height: 15.625rem; } }
  @media screen and (max-width: 400px) {
    .burgers__picture {
      width: 100%;
      margin-bottom: 0.625rem; } }

.burgers__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

.burgers__textblock {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .burgers__textblock {
      width: 80%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .burgers__textblock {
      width: 100%; } }

.burgers__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem; }

.burgers__order {
  margin-bottom: 1.25rem; }

.burgers__price {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #e45028; }
  @media screen and (max-width: 480px) {
    .burgers__price {
      font-size: 3.125rem; } }
  .burgers__price--currency {
    font-size: 1.875rem;
    margin-left: 0.3125rem; }
    @media screen and (max-width: 480px) {
      .burgers__price--currency {
        font-size: 1.5rem; } }

.burgers__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #e45028;
  margin-left: 1.25rem; }

.burgers__calories {
  background: url("../img/icon/kkal.svg") 50% 0% no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 5.625rem;
  width: 3.75rem;
  height: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .burgers__calories {
      bottom: initial;
      left: initial;
      top: 8.125rem;
      right: 15%; } }
  @media screen and (max-width: 480px) {
    .burgers__calories {
      top: 3.125rem;
      right: 0; } }

.burgers__calories-caption {
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.25rem; }
  .burgers__calories-caption--text {
    margin-top: 0.3125rem;
    font-size: 0.875rem; }

.owl-prev, .owl-next {
  position: absolute;
  background: url("../img/icon/arrow-scroll.svg") 50% 50% no-repeat !important;
  background-size: contain;
  width: 1.875rem;
  height: 0.9375rem;
  top: 49%; }

.owl-prev {
  left: 1%;
  -webkit-transform: translate(0%, -50%) rotate(90deg);
  -ms-transform: translate(0%, -50%) rotate(90deg);
  transform: translate(0%, -50%) rotate(90deg); }

.owl-next {
  right: 1%;
  -webkit-transform: translate(0%, -50%) rotate(-90deg);
  -ms-transform: translate(0%, -50%) rotate(-90deg);
  transform: translate(0%, -50%) rotate(-90deg); }

/*

.burgers__control {
    background: url('../img/icon/arrow-scroll.svg') 50% 50% no-repeat;
    background-size: contain;
    width: rem(29px);
    height: rem(14px);
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 300;

    &--back {
        left: 3%;
        top: 49%;
        transform: translate(0%,-50%) rotate(90deg);
    }

    &--next {
        right: 3%;
        top: 49%;
        transform: translate(0%,-50%) rotate(-90deg);
    }
}

*/
.ingredients {
  position: absolute;
  top: 5.625rem;
  left: 0; }
  @media screen and (max-width: 768px) {
    .ingredients {
      left: 15%;
      top: 8.125rem; } }
  @media screen and (max-width: 480px) {
    .ingredients {
      left: 0;
      top: 3.125rem; } }

.ingredients__menu {
  background-color: rgba(227, 80, 40, 0.4);
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.ingredients__caption {
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875rem;
  text-align: center; }
  .ingredients__caption:before {
    content: "";
    display: block;
    background: url("../img/icon/burger.svg") 50% 50% no-repeat;
    background-size: contain;
    height: 2.5rem;
    width: 3.125rem;
    margin-bottom: 0.625rem; }

.ingredients__table {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 5.625rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  z-index: 200;
  color: #2f3234;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 16.875rem;
  padding: 20px;
  table-layout: fixed; }
  .ingredients__table td {
    padding: 0.3125rem; }
    .ingredients__table td:first-child {
      padding: 0 0.3125rem;
      width: 4.375rem; }
      .ingredients__table td:first-child + td {
        font-weight: 500;
        width: 6.875rem; }
    .ingredients__table td:last-child {
      text-align: right;
      width: 3.125rem; }

.ingredients__icon {
  width: 2.5rem;
  height: 2.5rem; }
  .ingredients__icon--beef {
    fill: #e45028; }
  .ingredients__icon--buns {
    fill: #f9b43b; }
  .ingredients__icon--salad {
    fill: #8ac03e; }
  .ingredients__icon--sauce {
    fill: #e45028; }
  .ingredients__icon--cucumber {
    fill: #8ac03e; }
  .ingredients__icon--cheese {
    fill: #f9b43b; }

.ingredients__menu:hover {
  background-color: #e35028; }
  .ingredients__menu:hover + .ingredients__table {
    opacity: 1; }

/*
* comments section
*/
.comments {
  width: 100%; }

.comments__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%; }

.comments__item {
  overflow: hidden;
  height: 50%;
  width: 25%;
  position: relative; }
  .comments__item:hover .comments__textblock {
    opacity: 1;
    background-color: rgba(20, 20, 20, 0.7); }
  @media screen and (max-width: 768px) {
    .comments__item {
      width: 50%;
      height: 25vh; } }

.comments__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .comments__photo {
      width: 50%;
      -o-object-fit: cover;
      object-fit: cover; } }

.comments__name {
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-transform: uppercase;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .comments__name {
      font-size: 1.5rem; } }

.comments__text {
  margin-bottom: 1.25rem;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .comments__text {
      display: none; } }

.comments__btn {
  background-color: #2f3234; }
  .comments__btn:hover {
    background-color: #171819; }

.comments__textblock {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 2.9375rem 1.25rem;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  @media screen and (max-width: 768px) {
    .comments__textblock {
      padding: 2.1875rem 1.25rem;
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .comments__textblock {
      padding: 0.9375rem 0.625rem; } }

/*
footer
*/
.footer {
  background-color: #0f0f0f;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto; }
  .footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (max-width: 480px) {
      .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }

.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.625rem 0; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 1.25rem;
      padding-bottom: 0; } }

.footer__address {
  margin-bottom: 0.3125rem; }

.footer__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #e45028;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .footer__phone-icon {
    width: 0.8125rem;
    height: 0.75rem;
    fill: #e45028;
    margin-right: 0.5rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .footer__phone:hover {
    color: #f9b43b; }

.footer__phone:hover .footer__phone-icon {
  fill: #f9b43b; }

.socials__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.25rem 0; }

.socials__item {
  margin-left: 1.25rem; }
  .socials__item:first-child {
    margin-left: 0rem; }

.socials__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
  opacity: 0.3;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .socials__icon:hover {
    opacity: 1; }

/*
* menu section
*/
.menu {
  background: url("../img/background/menu.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.menu__content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.menu__list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 100%;
  max-width: 65%; }
  @media screen and (max-width: 768px) {
    .menu__list {
      max-width: 100%; } }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.menu__type-cover {
  width: 5rem;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .menu__type-cover--meat {
    background: url("../img/background/menu_meat.jpg") 50% 50% no-repeat;
    background-size: cover; }
  .menu__type-cover--veg {
    background: url("../img/background/menu_vegetarian.jpg") 90% 50% no-repeat;
    background-size: cover; }
  .menu__type-cover--diet {
    background: url("../img/background/menu_diet.jpg") 100% 50% no-repeat;
    background-size: cover; }
  @media screen and (max-width: 480px) {
    .menu__type-cover {
      width: 4.375rem; } }
  @media screen and (max-width: 400px) {
    .menu__type-cover {
      width: 2.625rem;
      font-size: 1.5625rem; } }

.menu__type-cover:before {
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: rgba(20, 20, 20, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.menu__type-title {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  width: 100vh;
  position: absolute;
  text-align: center;
  margin: auto;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .menu__type-title {
      text-align: left;
      width: 90vh; } }

.menu__description-wrapper {
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  overflow: hidden; }

.menu__description {
  display: block;
  padding: 3.75rem 2.1875rem; }
  .menu__description p {
    line-height: 1.5rem;
    padding: 0;
    margin: 0; }
  @media screen and (max-width: 480px) {
    .menu__description {
      padding: 0.9375rem 0.9375rem; } }

/*delivery*/
.delivery {
  background: url("../img/background/delivery.jpg") 50% 50% no-repeat;
  background-size: cover;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.delivery__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .delivery__content {
      text-align: center; } }

/*form*/
.form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__part {
  width: 49%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .form__part {
      width: 65%; } }
  @media screen and (max-width: 480px) {
    .form__part {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8125rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 400px) {
    .form__row {
      margin-bottom: 0.625rem; } }

.form__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.25rem;
  min-width: 5%; }
  @media screen and (max-width: 480px) {
    .form__item {
      margin-left: 0.625rem; } }
  .form__item:first-child {
    margin-left: 0; }
  @media screen and (max-width: 480px) {
    .form__item--floor {
      display: none; } }

.form__input {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent;
  border-color: #d1cfcb;
  outline: none;
  cursor: pointer;
  padding: 0.625rem;
  max-width: 100%; }
  .form__input--textarea {
    resize: none;
    height: 7rem;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 480px) {
      .form__input--textarea {
        margin-bottom: 2.5rem; } }
    @media screen and (max-width: 400px) {
      .form__input--textarea {
        margin-bottom: 0.9375rem; } }
  .form__input:hover, .form__input :focus {
    border-color: #f9b43b; }

.form__caption {
  margin-bottom: 0.3125rem;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .form__caption {
      text-align: left; } }

.form__options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .form__options {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      margin-bottom: 1.875rem; } }
  @media screen and (max-width: 400px) {
    .form__options {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      margin-bottom: 0.625rem; } }

.form__options-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.25rem; }

.form__optons-radio {
  display: none; }

.form__optons-fake {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0.46875rem;
  background-color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  margin-right: 0.625rem; }

.form__optons-radio:checked + .form__optons-fake::after {
  content: "";
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 0.21875rem;
  background-color: #e45028;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.form__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__checkbox {
      margin-bottom: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .form__checkbox {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; } }
  @media screen and (max-width: 400px) {
    .form__checkbox {
      margin-bottom: 1.25rem; } }

.form__checkbox-visual {
  display: none; }

.form__checkbox-fake {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  height: 0.9375rem;
  width: 0.9375rem;
  margin-right: 0.625rem;
  position: relative; }

.form__checkbox-visual:checked + .form__checkbox-fake:after {
  content: "";
  height: 0.5625rem;
  width: 0.6875rem;
  position: absolute;
  background: url("../img/icon/checkmark.png") 50% 50% no-repeat;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.form__btns {
  margin-bottom: 1.25rem; }

.form__submit--order {
  background-color: #e45028; }

.form__submit--clear {
  background-color: transparent;
  text-transform: none;
  margin-left: 0.3125rem; }
  .form__submit--clear:hover {
    background-color: #171819; }

/* strengths */
.strengths {
  background: url("../img/background/strengths.jpg") 50% 50% no-repeat;
  color: #2f3234;
  background-size: cover; }

.strengths__content {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.strengths__list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .strengths__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.strengths__item {
  max-width: 18.75rem;
  margin: 0 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .strengths__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-bottom: 1.875rem;
      max-width: 28.75rem; } }
  @media screen and (max-width: 400px) {
    .strengths__item {
      margin-bottom: 0.9375rem;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.strengths__img {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1.25rem;
  position: relative; }
  @media screen and (max-width: 480px) {
    .strengths__img {
      margin-right: 0.625rem; } }
  @media screen and (max-width: 400px) {
    .strengths__img {
      margin-right: 0.625rem;
      width: 5rem;
      height: 5rem; } }

.strengths__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

@media screen and (max-width: 480px) {
  .strengths__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 20rem;
    text-align: left; } }

.strengths__name {
  font-family: lifehack, cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 400px) {
    .strengths__name {
      margin-bottom: 0.3125rem; } }

.strengths__text {
  line-height: 1.5rem; }

/* team */
.team {
  background: url("../img/background/team.jpg") 50% 50% no-repeat;
  background-size: cover; }

.team__wrapper {
  min-height: 100vh;
  width: 50%;
  margin-left: 50%;
  background: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team__wrapper {
      width: 100%;
      margin-left: 0; } }

.team__content {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team__content {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__list {
  padding-top: 3.125rem; }
  @media screen and (max-width: 400px) {
    .team__list {
      padding-top: 1.25rem; } }

.team__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team__item {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__details-wrapper {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  height: 0; }

.team__details {
  /*display: flex;
    flex-direction: row;*/
  /*height: 0;
    transition: 0.5s;*/
  /*overflow: hidden;*/ }
  @media screen and (max-width: 768px) {
    .team__details {
      /*flex-direction: column;    
        align-items: center;*/
      text-align: center; } }

.team__photo {
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 3.125rem;
  background-color: transparant;
  overflow: hidden;
  position: relative;
  margin: 0 1.25rem; }
  @media screen and (max-width: 768px) {
    .team__photo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.team__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%; }

.team__description {
  /*display: inline-block;*/
  max-width: 15rem;
  /*display: inline-flex;*/
  display: inline-block;
  /*flex-direction: column;*/ }
  @media screen and (max-width: 768px) {
    .team__description {
      max-width: 23rem;
      text-align: center;
      /*align-items: center;*/
      margin-top: 1.25rem; } }

.team__member {
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0.9375rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer; }
  .team__member:before {
    content: "";
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 0;
    width: 0;
    border-bottom: 0.375rem solid transparent;
    border-top: 0.375rem solid #f9b43b;
    border-right: 0.3125rem solid transparent;
    border-left: 0.3125rem solid transparent;
    margin-right: 0.625rem; }
    @media screen and (max-width: 768px) {
      .team__member:before {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center; } }
  .team__member:hover {
    color: #f9b43b; }
  @media screen and (max-width: 768px) {
    .team__member {
      font-size: 1.5rem; } }

.active .team__member {
  color: #f9b43b; }
  .active .team__member:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    @media screen and (max-width: 768px) {
      .active .team__member:before {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center; } }

.active .team__details-wrapper {
  /*height: auto;
        transition:  0.5s;*/ }

.active .team__details {
  /*height: auto;*/
  padding-bottom: 1.25rem;
  /*transition: height 0.5s;*/
  /*display: flex;*/
  display: block; }
  @media screen and (max-width: 768px) {
    .active .team__details {
      padding-bottom: 0.9375rem; } }

.team__position {
  font-weight: bold;
  margin-bottom: 0.9375rem; }

.team__about {
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .team__about {
      text-align: center; } }

/*map*/
.map {
  width: 100%;
  position: relative; }

.map__interactive {
  width: 100%;
  height: 100%; }

.modal {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
  min-width: 9.375rem;
  padding: 1.25rem;
  z-index: 300;
  display: none;
  text-align: center;
  max-width: 200px; }
  .modal__text {
    display: inline-block;
    color: #2f3234;
    margin-bottom: 0.9375rem; }
  .modal__btn {
    display: inline-block;
    background-color: #e45028; }

.popup {
  display: none; }

.comments__popup {
  position: absolute; }

.popup {
  border-radius: 5px;
  background-color: #fff;
  min-width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.875rem 1.25rem;
  z-index: 300;
  position: relative;
  max-width: 29.375rem;
  display: none; }
  .popup__title {
    font-family: gagalin, cursive;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: #2f3234;
    margin-bottom: 0.9375rem; }
  .popup__text {
    color: #2f3234; }
    .popup__text p {
      margin: 0;
      line-height: 1.5rem; }
  .popup__close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    background: url("../img/icon/close_red.svg") 50% 50% no-repeat;
    opacity: 0.7;
    width: 0.9375rem;
    height: 0.9375rem;
    cursor: pointer;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border: none; }
    .popup__close:hover {
      opacity: 1; }

/*# sourceMappingURL=styles.css.map */