/* colors */

$dark-grey: #2f3234;
$white: #fff;
$yellow: #f9b43b;
$red: #e45028;
$green: #8ac03e;

/* resolutions */

$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 400px;
