/*base settings*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;

     @include phones {
        font-size: 14px;
    }
}

body {
    font-family: ubuntu, Verdana, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.42;
    font-size: rem(14px);
    color: $white;
    background-color:  $dark-grey; 
    }

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: rem(940px);
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
