/*delivery*/

.delivery {
    background: url('../../img/background/delivery.jpg') 50% 50% no-repeat;
    background-size: cover;
    @extend %section;
    align-items: center;
}

.delivery__content {
    display: flex;
    flex-direction: column;
}

