/* hamburger-menu */

.hamburger-menu {
    margin-left: rem(30px);
    width: rem(24px);
    height: rem(24px);
    display: none;
    background: url('../img/icon/hamburger-menu.svg') 50% 50% no-repeat;
    opacity: 1;

    @include tablets {
        display: flex;
        margin-right: rem(10px);
        z-index: 400;
    
    }
}


.hamburger-menu.open {
    background: url('../img/icon/close.svg') 50% 50% no-repeat;
    opacity: 0.7;
    width: rem(15px);
    height: rem(15px);

}

