/* hamburger-menu */

.hamburger-menu {
    margin-left: rem(30px);
    width: rem(24px);
    height: rem(24px);
    display: none;
    background: url('../img/icon/hamburger-menu.svg') 50% 50% no-repeat;


    @include tablets {
        display: flex;
        margin-right: rem(10px);
        z-index: 400;
    
    }
}
