/*
header
*/

.header {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 200;

    &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
        
    }
}

.header__logo {
    width: rem(92px);
    height: rem(77px);
    margin-top: rem(12px);
    margin-right: auto;

    @include tablets {
        z-index: 400;
    }
}

.header__nav {
    margin-right: rem(15px);

    @include tablets {
        
        display: flex;
        justify-content: center;
        align-items: center;


        background-color: $dark-grey;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 300;
        margin-right: 0;

        display: none;
    }
}

.header__list {

    padding-top: rem(28px);
    padding-bottom: rem(28px);
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column;
        position: absolute;
        height: rem(480px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

}

.header__link {
    @include ubuntu(500);
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    vertical-align: middle;

    
    transition: color 0.5s;

    &:hover {
        color: $yellow;
    }


    @include tablets {
        font-size: rem(24px);
    }    

}

.header__item {
    display: inline-flex;
    align-items: center;

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &:before {
        content: "";
        display: inline-flex;
        @include circle(rem(4px), $white);
        margin: 0 rem(12px);

        @include tablets {
            margin: rem(20px) 0;
            
        }

    }

    &:first-child:before {
        display: none;
    }
    
}

.header__btn {
    @extend %btn;
    display: inline-flex;
    background-color: $red;
    

}
