/*
first section content
*/

.main {
    background: url('../../img/background/main.jpg') 50% 50% no-repeat;
    background-size: cover;
    @extend %section;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__content {
    padding-top: rem(75px);
    padding-bottom: rem(100px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.main__subtitle {
    @include lifehack;
    font-size: rem(65px);
    color: $white;
    line-height: rem(60px); 
}

.main__img, .main__text {
    display: inline-block;
    vertical-align: middle;
}

.main__img {
    margin-left: rem(0px);
    margin-right: rem(7px);
}

.main__text {
   margin: 0;
   text-align: left;
   margin-top: rem(70px);
   margin-left: rem(7px);
}

.main__arrow {
    background: url('../../img/icon/arrow-scroll.svg') 0 0 no-repeat;
    padding-bottom: rem(55px);
    width: rem(29px);
    height: rem(14px);
    border: none;
    cursor: pointer;
}