.section__title {
    display: inline-block;
    @include gagalin;
    font-size: rem(72px);
    margin: 0;

    &--main {
        line-height: rem(85px);
        margin-bottom: rem(18px);
        color: $yellow;
    }

    &--strengths {
        text-align: center;
        color: $dark-grey;
        margin-top: rem(55px);
        margin-bottom: rem(65px);

        @include tablets {
            margin-top: rem(100px);
        }
    }

    &--team {
        color: $yellow;
    }

    &--menu {
        padding-top: rem(80px);
    }

    &--delivery {
        padding-top: rem(65px);
        padding-bottom: rem(60px);
        color: $yellow;
    }
}
