.section {
    @extend %section;
}

.section__title {
    display: inline-block;
    @include gagalin;
    font-size: rem(72px);
    margin: 0;

    @include phones {
        font-size: rem(50px);
    }

    &--main {
        line-height: rem(85px);
        margin-bottom: rem(18px);
        color: $yellow;

        @include tablets {
            text-align: center;
        }

        @include phones {
            font-size: rem(63px);
            margin-bottom: rem(5px); 
        }

        @include phones-small {
            font-size: rem(55px);
            margin-bottom: rem(5px); 
        }
      
    }

    &--strengths {
        text-align: center;
        color: $dark-grey;
        margin-top: rem(55px);
        margin-bottom: rem(65px);

        @include tablets {
            margin-top: rem(100px);
            margin-bottom: rem(145px);
        }

        @include phones {
            margin-top: rem(55px);
            margin-bottom: rem(55px);
        }

        @include phones-small {
            margin-top: rem(30px);
            margin-bottom: rem(30px);
        }
    }

    &--burgers {
        line-height: rem(64px);
        margin-bottom: rem(20px);

        @include tablets {
            width: 60%;
            margin-bottom: rem(10px);
        }

        @include phones {
            width: 60%;
            line-height: rem(60px);
            margin-bottom: rem(10px);
        }

        @include phones-small {
            width: 100%;
        }
      
    }

    &--team {
        color: $yellow;
        margin-top: rem(65px);

        @include tablets {
            margin-top: rem(90px);
            margin-bottom: rem(45px);
        }

        @include phones {
            margin-top: rem(55px);
            margin-bottom: rem(10px);
        }

        @include phones-small {
            margin-top: rem(40px);
            margin-bottom: 0;
        }
    }

    &--menu {
        margin-top: rem(80px);

        @include phones {
            margin-top: rem(45px);
            margin-left: rem(50px)
        }

        @include phones-small {
            margin-top: rem(30px);
            margin-left: rem(10px);
        }
    }

    &--delivery {
        margin-top: rem(65px);
        margin-bottom: rem(60px);
        color: $yellow;

        @include phones {
            margin-top: rem(55px);
            margin-bottom: rem(17px);
            line-height: rem(60px);
        }

        @include phones-small {
            margin-top: rem(25px);
            margin-bottom: rem(10px);
        }
    }


}
