
.socials__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: rem(20px) 0;



}

.socials__item {
    margin-left: rem(20px);
    
    &:first-child {
        margin-left: rem(0px);
    }

}

.socials__icon {
    width:rem(20px);
    height: rem(20px);
    fill: $white;
    opacity: 0.3;
    
    transition: opacity 0.5s;

    &:hover {
        opacity: 1;
    }

}
