/* strengths */

.strengths {
    background: url('../../img/background/strengths.jpg') 50% 50% no-repeat;
    color: $dark-grey;
    background-size: cover;
    @extend %section;
}

.strengths__content {
   text-align: center;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.strengths__list {
    width: 100%;
    padding-bottom: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.strengths__item {
    width: 300px;
}

.strengths__title {
    display: inline-block;
    font-family: gagalin, Verdana, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 65px;
    margin: 0;
}

.strengths__img {
    margin-bottom: 20px;
}

.strengths__name {
    font-family: lifehack, cursive;
    font-size: 24px;
    margin-bottom: 15px;
}

.strengths__text {
    line-height: 24px;
}