/* strengths */

.strengths {
    background: url('../img/background/strengths.jpg') 50% 50% no-repeat;
    color: $dark-grey;
    background-size: cover;
}

.strengths__content {
   text-align: center;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.strengths__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include phones {
        flex-direction: column;
        align-items: center;
    }

}

.strengths__item {
    max-width: rem(300px);
    margin: 0 rem(10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include phones {
        display: flex;
        flex-direction: row;
        margin-bottom: rem(30px);
        max-width: rem(460px);
    }

    @include phones-small {
        margin-bottom: rem(15px);
        align-items: flex-start;
    }
}

.strengths__img {
    width: rem(120px);
    height: rem(120px);
    margin-bottom: rem(20px);
    position: relative;

    @include phones {
        margin-right: rem(10px);
    }

    @include phones-small {
        margin-right: rem(10px);
        width: rem(80px);
        height: rem(80px);
    }
}

.strengths__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}

.strengths__description {

        @include phones {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: rem(320px);
        text-align: left;
    }
}

.strengths__name {
    @include lifehack;
    font-size: rem(24px);
    margin-bottom: rem(15px);

    @include phones-small {
        margin-bottom: rem(5px);
    }
}

.strengths__text {
    line-height: rem(24px);
}