/*
header
*/

.header__logo {
    width: 92px;
    height: 77px;
    float: left;
    margin-top: 12px;
}

.header__list {
    float: right;
    padding-top: 28px;
    padding-bottom: 28px;
}

.header__item, .header__link, .header__link:before {
    display: inline-block;
    font-family: 'ubuntu';
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.header__btn {
    padding: 3px 17px;
    background-color: #e45028;
    line-height: 30px;
    border-radius: 5px;
}

.header__link {
    margin-right: 16px;
}

.header__link:before {
    content: "";
    display: inline-block;
    background-color: #fff;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-right: 16px;
}

.header__link:first-child:before {
    display: none;
}

.header__link:last-child:before {
    display: none;
}



