/*
main page content
*/

.main {
    background: url('../../img/background/main.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.main__content {
    padding-top: 75px;
    padding-bottom: 100px;
    text-align: center;
}

.main__title {
    font-family: 'gagalin';
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    color: #f9b43b;
    line-height: 85px;
    margin-bottom: 18px;
}

.main__subtitle {
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    font-size: 65px;
    color: #fff;
    line-height: 60px; 

}

.main__img, .main__text {
    display: inline-block;
    vertical-align: middle;
}

.main__img {
    margin-left: -20px;
    margin-right: 10px;
}

.main__text {
   padding-top: 80px;
   margin: 0;
   text-align: left;
}

.main__arrow {
    background: url('../../img/icon/arrow-scroll.svg') 0 0 no-repeat;
    padding-bottom: 55px;
    width: 29px;
    height: 14px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}